<div class="navbar navbar-fixed-top">
	<div class="navbar-inner">

		<a class="brand" href="#"> 
			&nbsp;&nbsp;<i data-bind="css : {'icon-tint' : ajaxStatus()=='ok',
							'icon-spinner icon-spin' : ajaxStatus()=='working',
							'icon-warning-sign' : ajaxStatus()=='error',
							}"> </i> 
			&nbsp;Permantenere
		</a>
		

		<div class="btn-group">
			<a data-bind="attr: {href: '#'+hash().area}" class="btn"> <span
				data-bind="text:msg(hash().area+'Area')">area</span>
			</a>
			<button class="btn dropdown-toggle" data-toggle="dropdown">
				<i class="icon-chevron-down"></i>
			</button>
			<ul class="dropdown-menu" role="menu" data-bind="foreach: areas">
				<li><a onclick="$('#areaSelector').dropdown('toggle')"
					data-bind="attr: {href: '#'+$data, title:$root.msg($data+'Area')}, 
									text: $root.msg($data+'Area')">area</a>
				</li>

			</ul>
		</div>




		<ul class="nav pull-right">
	
			<li id="fat-menu" class="dropdown"><a href="#" id="drop3"
				role="button" class="dropdown-toggle" data-toggle="dropdown"
				> <i class="icon-user"></i> <span
					data-bind="text:user().username">username</span>
					<span
					data-bind="text: currentLocale"></span> <b class="caret"></b>
			</a>
				<ul class="dropdown-menu" role="menu"
					data-bind="foreach: availableLocales">
					<li><a href="#" data-bind="text:value">it_IT</a></li>
				</ul></li>
		</ul>
	</div>
</div>
