<form class="form-horizontal parsley" id="offerForm" >
	<fieldset>
	<legend data-bind="text: msg('rootLevel')">rootLevel</legend>
	  <div class="control-group">
	    <label class="control-label"
	    	data-bind="text: msg('name')">Name</label>
	    <div class="controls">
	      <input type="search" id="rootLevel" data-bind="value: entity().rootLevel().name" >
	    </div>
	  </div>
	  
	  <div class="control-group">
	    <label class="control-label"
	    	data-bind="text: msg('cf')">CF</label>
	    <div class="controls">
	      <input type="text" data-bind="value: entity().rootLevel().company().cf" >
	    </div>
	  </div>
	  
	  <div class="control-group">
	    <label class="control-label"
	    	data-bind="text: msg('careOf')">careOf</label>
	    <div class="controls">
	      <input type="text" data-bind="value: entity().rootLevel().company().careOf" >
	    </div>
	  </div>

	  <div class="control-group">
	    <label class="control-label"
	    	data-bind="text: msg('email')">email</label>
	    <div class="controls">
	      <input type="email" data-bind="value: entity().rootLevel().company().email" >
	    </div>
	  </div>

	  <div class="control-group">
	    <label class="control-label"
	    	data-bind="text: msg('telephone')">telephone</label>
	    <div class="controls">
	      <input type="tel" data-bind="value: entity().rootLevel().company().telephone" >
	    </div>
	  </div>
	  
	  <div class="control-group">
	    <label class="control-label"
	    	data-bind="text: msg('address')">address</label>
	    <div class="controls">
	      <input type="text" data-bind="value: entity().rootLevel().company().address" >
	    </div>
	  </div>
	  
	  <div class="control-group">
	    <label class="control-label"
	    	data-bind="text: msg('cap')">cap</label>
	    <div class="controls">
	      <input type="number" data-bind="value: entity().rootLevel().company().cap" >
	    </div>
	  </div>
	  	  
	  <div class="control-group">
	    <label class="control-label"
	    	data-bind="text: msg('city')">city</label>
	    <div class="controls">
	      <input type="text" data-bind="value: entity().rootLevel().company().city" >
	    </div>
	  </div>
	  	  
	  
  	</fieldset>

  <div class="control-group">
    <label class="control-label"
    	data-bind="text: msg('name')">Name</label>
    <div class="controls">
      <input type="text" data-bind="value: entity().name" disabled="disabled">
    </div>
  </div>

  <div class="control-group">
    <label class="control-label"
    	data-bind="text: msg('start')">Start</label>
    <div class="controls">
      <input type="text"  data-bind="value: entity().start" class="datePicker" />
    </div>
  </div>
  <div class="control-group">
    <label class="control-label"
    	data-bind="text: msg('end')">End</label>
    <div class="controls">
      <input type="text"  data-bind="value: entity().end" class="datePicker" />
    </div>
  </div>
  
  
  <div class="control-group">
    <label class="control-label"
    	data-bind="text: msg('status')">Status</label>
    <div class="controls">
    	  <select data-bind="options: statusList, optionsText: function(item) { 
                       return item().name()[xman.vm.currentLocale()]; 
                   }, value: entity().offerStatus"></select>
    </div>
  </div>

  <div class="control-group">
    <label class="control-label"
    	data-bind="text: msg('description')">Description</label>
    <div class="controls">
    	<textarea data-bind="value: entity().description"></textarea>
    </div>
  </div>

</form>

<button class="btn btn-primary" type="button" 
		    		data-bind="text:msg('save')"
			    	onclick="if($( '#offerForm' ).parsley( 'validate' )){xman.post('marketing/offer/save',{entity:ko.mapping.toJSON(xman.vm.entity)},function(){xman.navigate('marketing','offer','list')})}"
		    		>add</button>
		    		


		    		